{
  "root": false,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": [
      "./tsconfig.json",
      "./tsconfig.node.json"
    ]
  },
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "react-refresh",
    "react-hooks"
  ],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ]
  }
}
